body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #eef1f6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.quiz-container {
    background: rgba(110, 141, 91, 0.689);
    padding: 30px;
    border-radius: 10px;
    width: 650px;
    box-shadow: 0 0 10px rgba(46, 38, 38, 0.1);
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

button {
    padding: 10px 20px;
    margin-top: 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #3300ff;
    color: white;
}

button:hover {
    background-color: #fe1c33;
}

#result {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}
